/*background: rgba(0, 255, 0, 0.5);*/

section#content3 {
    width: 100%;
    height: 100%;
    /*background: rgba(255, 0, 0, 0.5);*/
}

section#content3 h1 {
    margin-bottom: 4%;
    margin-top: 0;
    color: white;
    font-size: 2rem;

}

section#content3 p {
    text-align: justify;
    margin-top: 2%;
    color: white;
    font-size: 0.8rem;

}

section#content3 div.center-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

img#c-rank {
    width: 75%;
    content: url("https://www.codewars.com/users/alberthattingh/badges/micro");
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

img#c-rank:hover {
    cursor: pointer;
}

section#content3 table {
    width: 100%;
    color: white;
    font-size: 0.8rem;
}

section#content3 table td.rank {
    text-align: right;
}

@media only screen and (min-width: 444px) {

}

@media only screen and (min-width: 556px) {
    section#content3 h1 {
        margin-bottom: 4%;
        margin-top: 0;
        color: white;
        font-size: 2rem;

    }
    section#content3 p {
        text-align: justify;
        margin-top: 2%;
        color: white;
        font-size: 1rem;

    }
    img#c-rank {
        width: 50%;
        content: url("https://www.codewars.com/users/alberthattingh/badges/micro");
    }
    section#content3 table {
        width: 50%;
        color: white;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

    section#content3 h1 {
         margin-bottom: 4%;
         margin-top: 0;
         color: white;
         font-size: 3rem;

    }
    section#content3 p {
        text-align: justify;
        margin-top: 2%;
        color: white;
        font-size: 1rem;
    }
    img#c-rank {
        width: 50%;
        content: url("https://www.codewars.com/users/alberthattingh/badges/large");
    }
}

@media only screen and (min-width: 1294px) {

}

section#content3 .loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
section#content3 .loader div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
section#content3 .loader div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes loader {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}