/*background: rgba(0, 255, 0, 0.5);*/

section#content3 {
    width: 100%;
    height: 100%;
    /*background: rgba(255, 0, 0, 0.5);*/
}

section#content3 h1 {
    margin-bottom: 4%;
    margin-top: 0;
    color: white;
    font-size: 2rem;

}

section#content3 p {
    text-align: justify;
    margin-top: 2%;
    color: white;
    font-size: 0.8rem;

}

section#content3 div.center-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

img#c-rank {
    width: 75%;
    content: url("https://www.codewars.com/users/alberthattingh/badges/micro");
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

img#c-rank:hover {
    cursor: pointer;
}

section#content3 table {
    width: 100%;
    color: white;
    font-size: 0.8rem;
}

section#content3 table td.rank {
    text-align: right;
}

img.nextButton {
    position: relative;
    background-color: rgb(53,147,219);
    border-radius: 50px;
    width: 28%;
    height: 15%;
    right: -20.5%;
}

img.nextButton:hover {
    cursor: pointer;
    background-color: rgb(53,160,240);
}

@media only screen and (min-width: 444px) {
    img.nextButton {
        border-radius: 50px;
        width: 25%;
        height: 15%;
        right: -16.5%;
    }
}

@media only screen and (min-width: 556px) {
    img.nextButton {
        border-radius: 50px;
        width: 20%;
        height: 15%;
        right: -14.5%;
    }
    img#c-rank {
        content: url("https://www.codewars.com/users/alberthattingh/badges/large");
    }
    section#content3 h1 {
        margin-bottom: 4%;
        margin-top: 0;
        color: white;
        font-size: 2.5rem;

    }
    section#content3 p {
        text-align: justify;
        margin-top: 2%;
        color: white;
        font-size: 1rem;

    }
    img#c-rank {
        width: 50%;
        content: url("https://www.codewars.com/users/alberthattingh/badges/micro");
    }
    section#content3 table {
        width: 50%;
        color: white;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    img.nextButton {
        border-radius: 50px;
        width: 18%;
        height: 19%;
        right: -14.5%;
    }
}

@media only screen and (min-width: 992px) {
    img.nextButton {
        border-radius: 50px;
        width: 15%;
        height: 20%;
        right: -9.5%;
    }
    section#content3 h1 {
         margin-bottom: 4%;
         margin-top: 0;
         color: white;
         font-size: 3rem;

    }
    section#content3 p {
        text-align: justify;
        margin-top: 2%;
        color: white;
        font-size: 1rem;
    }
    img#c-rank {
        width: 50%;
        content: url("https://www.codewars.com/users/alberthattingh/badges/large");
    }
}

@media only screen and (min-width: 1294px) {
    img.nextButton {
        border-radius: 50px;
        width: 10%;
        height: 20%;
        right: -7.5%;
    }
}